        </div>
        <div id="footer">
            <footer class="my-py-5 border-top">
                <div class="container">
                    <div class="footer-row">
                        <div class="footer-grid">
                            <ul class="footer-info mb-md-0 footer-justify">
                                <li class="nav-item">
                                    <a class="nav-link" href="">Herbal Remedies</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="">Nutritional Supplements</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="">Vitamins & Minerals</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="">OTC Medications</a>
                                </li>
                            </ul>
                            <ul class="footer-info mb-md-0 footer-justify2">
                                <li class="nav-item">
                                    <a class="nav-link" href="">Privacy Policy</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="">Terms & Conditons</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="">Rules</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link orange-text bold-text" href="">Ask Questions</a>
                                </li>
                            </ul>
                            <ul class="footer-info mb-md-0 footer-justify2">
                                <li class="nav-item">
                                    <a class="nav-link button-green bg-light white-text" href="">Subscribe to Newsletter</a>
                                </li>
                            </ul>
                        </div>
                        <div class="d-flex flex-column justify-content-between my-py-4  centered-text">
                            <p class="copyright regular-text">Copyright &copy; <%= new Date().getFullYear() %> <img src="/images/junejoseph2.2.png" alt="June Joseph Logo"> All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>

</html>