<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="generator" content="Astro v5.9.2">
    <title>June Joseph</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../../images/junejosephlogoXSM.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../images/junejosephlogoXSM.png">
    <link rel="apple-touch-icon" href="../../images/junejosephlogoXSM.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/navbar-fixed/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-7qAoOXltbVP82dhxHAUje59V5r2YsVfBafyUDxEdApLPmcdhBPg1DKg1ERo0BZlK"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/content.css">
    <link rel="stylesheet" href="/styles/home-page.css">
    <link rel="stylesheet" href="/styles/layout.css">
</head>

<body>
    <div id="blog-container">
        <div id="header">
            <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
                <div class="container">
                    <div class="logo-area my-navbar-logo">
                        <a class="navbar-brand" href="/"></a>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mb-2 mb-md-0 me-auto">
                            <li class="nav-item">
                                <a class="nav-link menu-margin" href="/about">My Story</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menu-margin" href="/focus">This Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menu-margin" href="/life">Life Style</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link menu-margin" href="/disease">Conditions</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link button-green nav-button-size" href="/login">Sign in</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link button-green nav-button-size bg-dark white-text" href="/signup">Sign Up</a>
                            </li>
                            <li class="nav-item hide-s-xl">
                                <button id="sub-button-xs" type="button" class="nav-link button-orange orange-text bold-text">Subscribe to Newsletter</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div id="body">
        