<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="generator" content="Astro v5.9.2">
    <title>June Joseph</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../../images/junejosephlogoXSM.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../images/junejosephlogoXSM.png">
    <link rel="apple-touch-icon" href="../../images/junejosephlogoXSM.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/navbar-fixed/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-7qAoOXltbVP82dhxHAUje59V5r2YsVfBafyUDxEdApLPmcdhBPg1DKg1ERo0BZlK"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/content.css">
    <link rel="stylesheet" href="/styles/home-page.css">
    <link rel="stylesheet" href="/styles/layout.css">
</head>

<body>
    <div id="blogs-container">
        <div id="portal-header">
            <nav class="navbar navbar-expand navbar-light bg-white fixed-top">
                <div class="container">
                    <div class="logo-area my-navbar-logo">
                        <a class="navbar-brand" href="/"></a>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mb-md-0 me-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/user-portal/questions">
                                   <i class="bi bi-bell top-icon"></i><span class=" hide-sm"> Questions</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/user-portal/subscriptions">
                                   <i class="bi bi-envelope top-icon"></i><span class="hide-sm"> Subscriptions</span>
                                </a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link" href="/user-portal/users">
                                   <i class="bi bi-people top-icon"></i><span class="hide-sm"> Accounts</span>
                                </a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link" href="/user-portal/settings">
                                   <i class="bi bi-gear-fill top-icon" style="color: #008c8c;"></i><span class="hide-sm"> Settings</span>
                                </a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link" href="/user-portal/profile">
                                   <i class="bi bi-person-square top-icon" style="color: #008c8c;"></i><span class="hide-sm"> Full Name</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div id="portal-body">
            <section id="user-portal" class="portal-container">
                <div id="mySidebar" class="my-sidebar bg-dark">
                    <button id="closeBtn" class="close-btn button small-text white-text">Close</button>
                    <div id="portal-nav" class="large-tbm">
                        <a href="/user-portal/dashboard" class="xtiny-tbm">
                            <i class="bi bi-columns-gap side-icon"></i>Dashboard
                        </a>
                        <a href="/user-portal/articles" class="xtiny-tbm">
                            <i class="bi bi-file-text side-icon"></i>Articles
                        </a>
                        <a href="/user-portal/blog-posts" class="xtiny-tbm">
                            <i class="bi bi-journal-text side-icon"></i>Blog Posts
                        </a>
                        <a href="/user-portal/all-questions" class="xtiny-tbm">
                            <i class="bi bi-question-circle side-icon"></i>All Questions
                        </a>
                        <a href="/user-portal/my-questions" class="xtiny-tbm">
                            <i class="bi bi-question-diamond side-icon"></i>My Questions
                        </a>
                        <a href="/user-portal/subscriptions" class="xtiny-tbm">
                            <i class="bi bi-envelope side-icon"></i>Subscriptions
                        </a>
                        <a href="/user-portal/users" class="xtiny-tbm">
                            <i class="bi bi-people side-icon"></i>Registered Users
                        </a>
                        <div id="sign-out">
                            <a href="/signout" id="signout-button" class="xtiny-tbm">
                                <i class="bi bi-box-arrow-right side-icon"></i>Sign Out
                            </a>
                        </div>
                    </div>
                </div>
                <div id="userPortalMain" class="user-portal-main">
                                        
        