<%- include("partials/portal-header.ejs") %>

<div class="crumbs-area">
    <button id="openBtn" class="open-btn vtiny-tbm button-green bg-dark small-text white-text">Open</button>
    <!-- <h6 id="greetings" class="bold-text mx-auto no-wrap">Welcome back Ifeanyi Ezugworie</h6> -->
    <p id="p-crumbs" class="small-text no-wrap right-text">bread crumbs/bread crumbs/more crumbs</p>
</div>

<div id="portalMain" class="portal-main">
    <h5 class="section-title vbold-text vtiny-tbm">Articles</h5>
    <div id="articlesContent" class="dash-content">
        <section id="articlesTopline" class="articles-summary">
            <div class="metric-block">
                <div class="metric-info">
                    <h5 class="xbold-text no-bm">300</h5>
                    <p class="small-text no-padding xtiny-tbm bold-text">Articles Written</p>
                </div>
                <div class="metric-icon centered-text">
                    <i class="bi bi-file-text m-icon"></i>
                </div>
            </div>
            <div class="metric-block">
                <div class="metric-info">
                    <h5 class="xbold-text no-bm">13</h5>
                    <form action="" method="" class="form-group">
                        <select name="article-frequency" id="article-frequency" class="small-text no-padding xtiny-tbm bold-text no-border bg-whiter top-width">
                            <option value="today">Written Today</option>
                            <option value="this-week">This Week</option>
                            <option value="this-month">This Month</option>
                            <option value="last-3-months">Last 3 Months</option>
                            <option value="last-6-months">Last 6 Months</option>
                            <option value="this-year">This Year</option>
                        </select>
                    </form>
                </div>
                <div class="metric-icon centered-text">
                    <i class="bi bi-calendar-check m-icon"></i>
                </div>
            </div>
            <div class="metric-block">
                <div class="metric-info">
                    <h5 class="xbold-text no-bm">239</h5>
                    <p class="small-text no-padding xtiny-tbm bold-text">Articles Read</p>
                </div>
                <div class="metric-icon centered-text">
                    <i class="bi bi-bookmark-check m-icon"></i>
                </div>
            </div>
            <div class="metric-block">
                <div class="metric-info">
                    <h5 class="xbold-text no-bm">258</h5>
                    <p class="small-text no-padding xtiny-tbm bold-text">Unique Views</p>
                </div>
                <div class="metric-icon centered-text">
                    <i class="bi bi-eye m-icon"></i>
                </div>
            </div>
            <div class="metric-block">
                <div class="metric-info">
                    <h5 class="xbold-text no-bm">79.6%</h5>
                    <p class="small-text no-padding xtiny-tbm bold-text">Read-to-Write Ratio</p>
                </div>
                <div class="metric-icon centered-text">
                    <i class="bi bi-pie-chart m-icon"></i>
                </div>
            </div>
            <div class="metric-block">
                <div class="metric-info">
                    <h5 class="xbold-text no-bm">528</h5>
                    <p class="small-text no-padding xtiny-tbm bold-text">Average Reactions</p>
                </div>
                <div class="metric-icon centered-text">
                    <i class="bi bi-chat-heart m-icon"></i>
                </div>
            </div>
        </section>
        <section id="articlesActions" class="portal-actions">
            <div id="articlesLeft" class="actions-left">
                <button class="action-block no-border">
                    <i class="bi bi-arrow-down-up action-icon"></i>
                    <p class="action-name small-text no-padding hide-sm">Sort</p>
                </button>
                <button class="action-block no-border">
                    <i class="bi bi-funnel action-icon"></i>
                    <p class="action-name small-text no-padding hide-sm">Filter</p>
                </button>
                <form id="articleSearch" action="" method="" class="form-group action-block no-border">
                    <i class="bi bi-search small-text"></i>
                    <input type="search" name="article-search" id="article-search" class="form-control small-text no-padding action-name no-border" placeholder="  Search">
                </form>
            </div>
            <div id="articlesRight" class="actions-right">
                <button id="write-post" class="action-block-new no-border">
                    <i class="bi bi-plus-lg action-icon-new"></i>
                    <p class="action-name bold-text small-text no-padding white-text hide-sm">New Article</p>
                </button>
                <button id="delete-article" class="action-block no-border">
                    <i class="bi bi-trash3 action-icon"></i>
                    <p class="action-name small-text no-padding hide-sm">Delete</p>
                </button>
            </div>
        </section>
        <section id="blogPost-form" class="large-bm hidden-form">
            <div class="right-text">
                <button id="close-post" type="button" class="button-orange red-text small-text bold-text">Close</button>
            </div>
            <div class="mainPost-form">
                <form id="create-post" class="form-body" action="" method="POST">
                    <h4 class="green-text vbold-text centered-text">Write a New Article</h4>
                    <p class="no-padding xtiny-tbm bold-text centered-text">Inform, educate, and guide your readers to make data-backed health and lifestyle decisions</p>
                    <hr class="large-bm">
                    <div class="main-post">
                        <div class="form-section">
                            <div id="blogTitle" class="form-group vtiny-bm">
                                <label for="blog-title" class="form-label green-text vbold-text xtiny-bm">Title</label>
                                <input type="text" class="form-control regular-text" name="blog-title" id="blog-title"
                                    placeholder="The topic you want to discuss" value="" required>
                            </div>
                            <div id="blogCategory" class="form-group vtiny-bm">
                                <label for="blog-category" class="form-label green-text vbold-text xtiny-bm">Category</label>
                                <select name="blog-category" id="blog-category" class="form-select regular-text">
                                    <option value="none-selected">Select a category</option>
                                    <option value="category-1">Category 1</option>
                                    <option value="category-2">Category 2</option>
                                    <option value="category-3">Category 3</option>
                                    <option value="category-4">Category 4</option>
                                    <option value="category-5">Category 5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-section">
                            <div id="blogSubcategory" class="form-group vtiny-bm">
                                <label for="sub-category" class="form-label green-text vbold-text xtiny-bm">Sub-category</label>
                                <select name="sub-category" id="sub-category" class="form-select regular-text">
                                    <option value="none-selected">Select a sub-category</option>
                                    <option value="sub-category-1">Sub-category 1</option>
                                    <option value="sub-category-2">Sub-category 2</option>
                                    <option value="sub-category-3">Sub-category 3</option>
                                    <option value="sub-category-4">Sub-category 4</option>
                                    <option value="sub-category-5">Sub-category 5</option>
                                </select>
                            </div>
                            <div id="blogHero-image" class="form-group vtiny-bm">
                                <label for="blog-heroImage" class="form-label green-text vbold-text xtiny-bm">Hero Image URL</label>
                                <input type="text" class="form-control regular-text" name="blog-heroImage" id="blog-heroImage"
                                    placeholder="The web address of your blog hero image" required>
                            </div>
                        </div>
                        <div id="blogContent" class="form-group xtiny-bm">
                            <label for="blogBody" class="form-label green-text vbold-text xtiny-bm">Content</label>
                        </div>
                        <div id="blogBody" class="form-control tiny-bm" name="blogBody"></div>
                        
                        <div id="blogTags" class="form-group vtiny-bm">
                            <label for="tags" class="form-label green-text vbold-text xtiny-bm">Key Words</label>
                            <input type="text" class="form-control" name="blog-tags" id="blog-tags" placeholder="Separate entries by comas. Eg: herbal remedy, nutritional supplements, et c.">
                        </div>
                        <hr class="large-bm">
                        <div class="form-section">
                            <div id="blogWriter" class="form-group vtiny-bm">
                                <label for="writtenBy" class="form-label green-text vbold-text xtiny-bm"> Written By</label>
                                <input type="text" class="form-control" name="writtenBy" id="writtenBy" value="" readonly>
                            </div>
                            <div id="writerTitle" class="form-group vtiny-bm">
                                <label for="writer-title" class="form-label green-text vbold-text xtiny-bm"> Writer's Title</label>
                                <input type="text" class="form-control" name="writer-title" id="writer-title" placeholder="How should you be addressed?" required>
                            </div>
                        </div>
                        <div class="form-section">
                            <div id="specialization" class="form-group vtiny-bm">
                                <label for="writer-specialty" class="form-label green-text vbold-text xtiny-bm"> Writer's Specialization</label>
                                <input type="text" class="form-control" name="writer-specialty" id="writer-specialty" placeholder="Level of specialization and field of expertise" required>
                            </div>
                            <div id="writerTitle" class="form-group vtiny-bm">
                                <label for="writer-title" class="form-label green-text vbold-text xtiny-bm"> Writer's Experience</label>
                                <input type="text" class="form-control" name="writer-title" id="writer-title" placeholder="Length of practice in years" required>
                            </div>
                        </div>
                        <div class="form-section">
                            <div id="blog-writerEmail" class="form-group vtiny-bm">
                                <label for="writerEmail" class="form-label green-text vbold-text xtiny-bm">Writer's Email</label>
                                <input type="text" class="form-control" name="writerEmail" id="writerEmail" value="" readonly>
                            </div>
                            <div id="blogDate" class="form-group vtiny-bm">
                                <label for="createDate" class="form-label green-text vbold-text xtiny-bm">Date Written</label>
                                <input type="text" class="form-control regular-text" name="createDate" id="createDate" value="" readonly>
                            </div>
                        </div>
                        <hr class="large-bm">
                        <div id="source-references">
                            <p class="no-padding vtiny-bm vbold-text">To reference external material, add your sources here.</p>
                            <div id="sources-container" class="tiny-tm"></div>
                            <div id="source-item" class="hidden-div">
                                <div class="form-section">
                                    <div id="source-author" class="form-group vtiny-bm">
                                        <label for="referenced-author" class="form-label green-text vbold-text xtiny-bm">Source Author(s)</label>
                                        <input type="text" class="form-control" name="referenced-author" id="breferenced-author" placeholder="Last name and initials. e.g: Smith, J. C. Separate by comas.">
                                    </div>
                                    <div id="source-date" class="form-group vtiny-bm">
                                        <label for="date-published" class="form-label green-text vbold-text xtiny-bm">Date Published</label>
                                        <input type="text" class="form-control" name="date-published" id="date-published" placeholder="Format: dd/mm/yyyy or yyyy if full date is not available">
                                    </div>
                                </div>
                                <div class="form-section">
                                    <div id="source-title" class="form-group vtiny-bm">
                                        <label for="referenced-title" class="form-label green-text vbold-text xtiny-bm">Source Title</label>
                                        <input type="text" class="form-control" name="referenced-title" id="referenced-title" placeholder="The title of the referenced material">
                                    </div>
                                    <div id="source-link" class="form-group vtiny-bm">
                                        <label for="link-to-source" class="form-label green-text vbold-text xtiny-bm">Source URL</label>
                                        <input type="text" class="form-control" name="link-to-source" id="link-to-source" placeholder="The web address of the referenced material.">
                                    </div>
                                </div>
                                <div id="blogsRight" class="actions-right">
                                    <button class="delete-source action-delete-source">
                                        <p class="action-name vbold-text vsmall-text no-padding">Remove</p>
                                    </button>
                                </div>
                                <hr class="tiny-tbm">
                            </div>
                            <div class="vtiny-tbm">
                                <button id="add-source" type="button" class="button-orange orange-text small-text bold-text">Add Source</button>
                            </div>
                        </div>
                        <hr class="large-bm">
                        <div id="set-featured" class="set-featured xlarge-bm">
                            <div id="set-as-featured" class="form-group xtiny-bm">
                                <input type="checkbox" name="featured-blog" id="featured-blog" value="Yes", class="">
                                <label for="featured-blog" class="form-label green-text vbold-text xtiny-bm">Set as featured</label>
                            </div>
                            <div id="featured-start-date" class="form-group xtiny-bm">
                                <label for="featured-start" class="form-label green-text vbold-text xtiny-bm">Start Date</label>
                                <input type="date" name="featured-start" id="featured-start" class="form-control">
                            </div>
                            <div id="featured-end-date" class="form-group xtiny-bm">
                                <label for="featured-end" class="form-label green-text vbold-text xtiny-bm">End Date</label>
                                <input type="date" name="featured-end" id="featured-end" class="form-control">
                            </div>
                        </div>
                        <div id="blogForm-actions" class="form-buttons tiny-bm">
                            <div id="blogForm-left" class="actions-left">
                                <button type="reset" id="cancel-post" class="action-block-cancel no-border">
                                    <!-- <i class="bi bi-x-circle action-icon-new"></i> -->
                                    <p class="action-name bold-text white-text no-padding">Cancel</p>
                                </button>
                            </div>
                            <div id="blogForm-right" class="actions-right">
                                <button type="submit" id="publish" class="action-block-publish no-border">
                                    <!-- <i class="bi bi-send action-icon-new"></i> -->
                                    <p class="action-name bold-text no-padding white-text">Publish</p>
                                </button>
                                <button type="submit" id="save-draft" class="action-block-draft ">
                                    <!-- <i class="bi bi-save action-icon-draft"></i> -->
                                    <p class="action-name bold-text no-padding green-text">Save as Draft</p>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>

<script src="/js/new-blog-quill.js"></script>
<script src="/js/new-blogpost.js"></script>

<%- include("partials/portal-footer.ejs") %>