<%- include("partials/portal-header.ejs") %>

<div class="crumbs-area">
    <button id="openBtn" class="open-btn vtiny-tbm button-green bg-dark vsmall-text white-text">Open</button>
    <h6 id="greetings" class="bold-text mx-auto no-wrap">Welcome back Ifeanyichukwu Ezugworie</h6>
    <p id="p-crumbs" class="hide-sm small-text no-wrap right-text">bread crumbs/bread crumbs/more crumbs</p>
</div>

<div id="portalMain" class="portal-main">
    <h5 class="section-title vbold-text xtiny-tbm">Dashboard</h5>
    <div id="dashContent" class="dash-content">
        <section id="dashArticles" class="dash-section">
            <div id="articlesSummary" class="dash-summary">
                <div class="dash-block">
                    <div id="articlesCount" class="dash-info">
                      <div class="dash-numbers">
                        <h2 class="vbold-text">300 </h2>
                        <p class="bold-text">Articles</p>
                      </div>
                      <i class="bi bi-file-text right-text" style="font-size: 4rem; color: #e6ad06;"></i> 
                    </div>
                    <div class="dash-link centered-text">
                        <a href="" class="">View Details
                            <i class="bi bi-arrow-right-circle" style="margin-left: 0.2rem;"></i>
                        </a>
                    </div>
                </div>
                <div class="dash-block">
                    <div id="blogsCount" class="dash-info">
                      <div class="dash-numbers">
                        <h2 class="vbold-text">230 </h2>
                        <p class="bold-text">Blogs</p>
                      </div>
                      <i class="bi bi-journal-text right-text" style="font-size: 4rem; color: #e6ad06;"></i> 
                    </div>
                    <div class="dash-link centered-text">
                        <a href="" class="bold-text">View Details
                            <i class="bi bi-arrow-right-circle" style="margin-left: 0.2rem;"></i>
                        </a>
                    </div>
                </div>
                <div class="dash-block">
                    <div id="questionsCount" class="dash-info">
                      <div class="dash-numbers">
                        <h2 class="vbold-text">3205 </h2>
                        <p class="bold-text">Questions</p>
                      </div>
                      <i class="bi bi-question-circle right-text" style="font-size: 4rem; color: #e6ad06;"></i> 
                    </div>
                    <div class="dash-link centered-text">
                        <a href="" class="bold-text">View Details
                            <i class="bi bi-arrow-right-circle" style="margin-left: 0.2rem;"></i>
                        </a>
                    </div>
                </div>
                <div class="dash-block">
                    <div id="usersCount" class="dash-info">
                      <div class="dash-numbers">
                        <h2 class="vbold-text">520 </h2>
                        <p class="bold-text">Registered Users</p>
                      </div>
                      <i class="bi bi-people right-text" style="font-size: 4rem; color: #e6ad06;"></i> 
                    </div>
                    <div class="dash-link centered-text">
                        <a href="" class="bold-text">View Details
                            <i class="bi bi-arrow-right-circle" style="margin-left: 0.2rem;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <p>Content...&#9776; &times;</p>
        <p>Content...&#9776; &times;</p>
        <p>Content...&#9776; &times;</p>
        <p>Content...&#9776; &times;</p>
    </div>
</div>

<%- include("partials/portal-footer.ejs") %>