<%- include("partials/header.ejs") %>

<div id="blog-welcome">
    <div class="">
        <div class="welcome-msg">
            <h1 class="home-title bold-text">Life Style, Health Conditions and Nature's Solutions</h1>
            <h1 class="home-title-lg bold-text">Life Style, Health Conditions <br> and Nature's Solutions</h1>
            <h2 class="sub-title orange-text regular-text">A resource for information on natural ways to live healthy</h2>
        </div>
        <div class="hero-button">
            <% if (locals.thisLogin && thisLogin.email) { %>
                <button id="body-question" class="nav-link button-green bg-dark white-text bold-text">
                    Ask a Question</button>
            <% } else { %>
            <a id="question-login" href="/login" class="nav-link button-green bg-dark white-text bold-text">Ask a
                Question</a>
            <% } %>
            <a href="/focus" class="nav-link button-green green-text bold-text">Join a Conversation</a>
        </div>
    </div>
    <div class="grid-cover">
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell orange-border-top orange-border-left"></div>
        <div class="grid-cell orange-border-top orange-border-left"></div>
        <div class="grid-cell orange-border-top orange-border-left"></div>
        <div class="grid-cell orange-border-left"></div>
        <div class="grid-cell orange-border-top"></div>
        <div class="grid-cell orange-border-top orange-border-left"></div>
        <div class="grid-cell orange-border-top orange-border-left"></div>
        <div class="grid-cell orange-border-top orange-border-right orange-border-left"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell orange-border-top orange-border-left"></div>
        <div class="grid-cell orange-border-top orange-border-left"></div>
        <div class="grid-cell orange-border-top orange-border-right orange-border-left"></div>
        <div class="grid-cell orange-border-top orange-border-left orange-border-bottom"></div>
        <div class="grid-cell orange-border-top orange-border-left orange-border-bottom"></div>
        <div class="grid-cell orange-border-top orange-border-left orange-border-bottom"></div>
        <div class="grid-cell orange-border-top orange-border-left"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
    </div>
</div>

<%- include("partials/footer.ejs") %>