<%- include("partials/header.ejs") %>

<div id="blog-welcome">
    <div class="welcome-msg">
        <h1 class="home-title bold-text">Herbal Supplements, <br> You, and Alternatives</h1>
        <h2 class="sub-title orange-text thin-text">A resource for information on natural ways to live healthy</h2>
    </div>
    <div class="grid-cover">
        <div class="grid-cell"></div>
        <div class="grid-cell orange-border-top orange-border-left"></div>
        <div class="grid-cell orange-border-left"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell orange-border-top orange-border-left"></div>
        <div class="grid-cell orange-border-top orange-border-left"></div>
        <div class="grid-cell orange-border-top orange-border-left"></div>
        <div class="grid-cell orange-border-left"></div>
        <div class="grid-cell orange-border-top"></div>
        <div class="grid-cell orange-border-top orange-border-left"></div>
        <div class="grid-cell orange-border-top orange-border-left"></div>
        <div class="grid-cell orange-border-top orange-border-right orange-border-left"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell orange-border-top orange-border-left"></div>
        <div class="grid-cell orange-border-top orange-border-left"></div>
        <div class="grid-cell orange-border-top orange-border-right orange-border-left"></div>
        <div class="grid-cell orange-border-top orange-border-left orange-border-bottom"></div>
        <div class="grid-cell orange-border-top orange-border-left orange-border-bottom"></div>
        <div class="grid-cell orange-border-top orange-border-left orange-border-bottom"></div>
        <div class="grid-cell orange-border-top orange-border-left"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
    </div>
</div>

<%- include("partials/footer.ejs") %>