<%- include("partials/portal-header.ejs") %>

<div class="crumbs-area">
    <button id="openBtn" class="open-btn vtiny-tbm button-green bg-dark vsmall-text white-text">Open</button>
    <!-- <h6 id="greetings" class="bold-text mx-auto no-wrap">Welcome back Ifeanyi Ezugworie</h6> -->
    <p id="p-crumbs" class="hide-sm small-text no-wrap right-text">bread crumbs/bread crumbs/more crumbs</p>
</div>




<%- include("partials/portal-footer.ejs") %>