<%- include("partials/portal-header.ejs") %>

<section id="user-portal" class="portal-container">
    <div id="mySidepanel" class="sidepanel bg-dark">
        <a href="javascript:void(0)" class="closebtn button vsmall-text white-text" onclick="closeNav()">Close</a>
        <div class="large-tbm">
            <a href="#" class="xtiny-tbm">Dashboard</a>
            <a href="#" class="xtiny-tbm">Articles</a>
            <a href="#" class="xtiny-tbm">Blogs Posts</a>
            <a href="#" class="xtiny-tbm">Questions</a>
            <a href="#" class="xtiny-tbm">Subscriptions</a>
            <a href="#" class="xtiny-tbm">Registered Users</a>
        </div>
    </div>
    <div>
        <button class="openbtn xtiny-tbm button-green bg-dark vsmall-text white-text" onclick="openNav()">Open</button>
        <div id="portal-main">
            <p>Content...&#9776; &times;</p>
        </div>
    </div>
</section>


<%- include("partials/portal-footer.ejs") %>