<%- include("partials/portal-header.ejs") %>

<div class="crumbs-area">
    <button id="openBtn" class="open-btn vtiny-tbm button-green bg-dark small-text white-text">Open</button>
    <!-- <h6 id="greetings" class="bold-text mx-auto no-wrap">Welcome back Ifeanyi Ezugworie</h6> -->
    <p id="p-crumbs" class="hide-sm small-text no-wrap right-text">bread crumbs/bread crumbs/more crumbs</p>
</div>

<div id="portalMain" class="portal-main">
    <h5 class="section-title vbold-text vtiny-tbm">Registered Users</h5>
    <div id="articlesContent" class="dash-content">
        <section id="articlesTopline" class="questions-summary">
            <div class="metric-block">
                <div class="metric-info">
                    <h5 class="xbold-text no-bm">500</h5>
                    <p class="small-text no-padding xtiny-tbm bold-text">Registered Users</p>
                </div>
                <div class="metric-icon centered-text">
                    <i class="bi bi-people m-icon"></i>
                </div>
            </div>
            <div class="metric-block">
                <div class="metric-info">
                    <h5 class="xbold-text no-bm">15</h5>
                    <form action="" method="" class="form-group">
                        <select name="question-frequency" id="question-frequency" class="small-text no-padding xtiny-tbm bold-text no-border bg-whiter top-width">
                            <option value="today">Signed Up Today</option>
                            <option value="this-week">This Week</option>
                            <option value="this-month">This Month</option>
                            <option value="last-3-months">Last 3 Months</option>
                            <option value="last-6-months">Last 6 Months</option>
                            <option value="this-year">This Year</option>
                        </select>
                    </form>
                </div>
                <div class="metric-icon centered-text">
                    <i class="bi bi-calendar-date m-icon"></i>
                </div>
            </div>
            <div class="metric-block">
                <div class="metric-info">
                    <h5 class="xbold-text no-bm">58</h5>
                    <form action="" method="" class="form-group">
                        <select name="question-priority" id="question-priority" class="small-text no-padding xtiny-tbm bold-text no-border bg-whiter top-width">
                            <option value="unread">From Website</option>
                            <option value="read">From Portal</option>
                            <!-- <option value="active">Suspended Subs</option>
                            <option value="inactive">Unsubscribed</option> -->
                        </select>
                    </form>
                </div>
                <div class="metric-icon centered-text">
                    <i class="bi bi-person-plus m-icon"></i>
                </div>
            </div>
            <div class="metric-block">
                <div class="metric-info">
                    <h5 class="xbold-text no-bm">239</h5>
                    <p class="small-text no-padding xtiny-tbm bold-text">Email Verified</p>
                </div>
                <div class="metric-icon centered-text">
                    <i class="bi bi-envelope-check m-icon"></i>
                </div>
            </div>
            <div class="metric-block">
                <div class="metric-info">
                    <h5 class="xbold-text no-bm">15</h5>
                    <form action="" method="" class="form-group">
                        <select name="question-frequency" id="question-frequency" class="small-text no-padding xtiny-tbm bold-text no-border bg-whiter top-width">
                            <option value="today">Verified Today</option>
                            <option value="this-week">This Week</option>
                            <option value="this-month">This Month</option>
                            <option value="last-3-months">Last 3 Months</option>
                            <option value="last-6-months">Last 6 Months</option>
                            <option value="this-year">This Year</option>
                        </select>
                    </form>
                </div>
                <div class="metric-icon centered-text">
                    <i class="bi bi-calendar-date m-icon"></i>
                </div>
            </div>
            <div class="metric-block">
                <div class="metric-info">
                    <h5 class="xbold-text no-bm">58</h5>
                    <form action="" method="" class="form-group">
                        <select name="question-priority" id="question-priority" class="small-text no-padding xtiny-tbm bold-text no-border bg-whiter top-width">
                            <option value="active-users">Active Users</option>
                            <option value="inactive-users">Inactive Users</option>
                        </select>
                    </form>
                </div>
                <div class="metric-icon centered-text">
                    <i class="bi bi-person-check-fill m-icon"></i>
                </div>
            </div>
            <div class="metric-block">
                <div class="metric-info">
                    <h5 class="xbold-text no-bm">258</h5>
                    <p class="small-text no-padding xtiny-tbm bold-text">Deleted Accounts</p>
                </div>
                <div class="metric-icon centered-text">
                    <i class="bi bi-person-dash-fill m-icon"></i>
                </div>
            </div>
            <div class="metric-block">
                <div class="metric-info">
                    <h5 class="xbold-text no-bm">15</h5>
                    <form action="" method="" class="form-group">
                        <select name="question-frequency" id="question-frequency" class="small-text no-padding xtiny-tbm bold-text no-border bg-whiter top-width">
                            <option value="today">Deleted Today</option>
                            <option value="this-week">This Week</option>
                            <option value="this-month">This Month</option>
                            <option value="last-3-months">Last 3 Months</option>
                            <option value="last-6-months">Last 6 Months</option>
                            <option value="this-year">This Year</option>
                        </select>
                    </form>
                </div>
                <div class="metric-icon centered-text">
                    <i class="bi bi-calendar-date m-icon"></i>
                </div>
            </div>
        </section>
        <section id="questionsActions" class="portal-actions">
            <div id="questionsLeft" class="actions-left">
                <button class="action-block no-border">
                    <i class="bi bi-arrow-down-up action-icon"></i>
                    <p class="action-name bold-text small-text no-padding hide-sm">Sort</p>
                </button>
                <button class="action-block no-border">
                    <i class="bi bi-funnel action-icon"></i>
                    <p class="action-name small-text no-padding hide-sm">Filter</p>
                </button>
                <form id="articleSearch" action="" method="" class="form-group action-block no-border">
                    <i class="bi bi-search small-text"></i>
                    <input type="search" name="article-search" id="article-search" class="form-control small-text no-padding action-name no-border" placeholder="  Search">
                </form>
            </div>
            <div id="questionsRight" class="actions-right">
                <button id="portal-registration" class="action-block-new no-border">
                    <i class="bi bi-plus-lg action-icon-new"></i>
                    <p class="action-name small-text no-padding white-text hide-sm">New User</p>
                </button>
                <button id="delete-question" class="action-block no-border">
                    <i class="bi bi-trash3 action-icon"></i>
                    <p class="action-name small-text no-padding hide-sm">Delete</p>
                </button>
            </div>
        </section>
    </div>
</div>



<%- include("partials/portal-footer.ejs") %>