
.me-auto {
    margin-left: auto !important;
    margin-right: 0 !important;
}

.navbar {
    margin-bottom: 20px;
    border-bottom: 1px solid #008000;
}

.border-top {
    border-top: 1px solid #008000 !important;
}

.logo-area {
    width: 11rem;
    height: 2rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin-top: 1rem;
}

.my-navbar-logo {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/images/junejoseph2.png");
}

.button {
    font-size: 1.2rem;
    padding: 0.55rem 1rem;
    text-align: center;
    border: 2px solid #ffffff;
    border-radius: 0.8rem;
    color: #ffffff;
    background-color: transparent;
}

.button-blue {
    font-size: 1rem;
    padding: 0.3rem 2rem;
    text-align: center;
    border: 1px solid #0545a5;
    border-radius: 0.8rem;
    background-color: transparent;
}

.button-green {
    font-size: 1rem;
    padding: 0.3rem 2rem;
    text-align: center;
    border: 1px solid #008c8c;
    border-radius: 1rem;
    background-color: transparent;
}

.button-orange {
    font-size: 1rem;
    padding: 0.3rem 0.7rem;
    text-align: center;
    border: 1px solid #f83c03;
    border-radius: 1rem;
    background-color: transparent;
}

.nav-button-size {
    max-width: 10rem;
}

.nav-item .button-green {
    margin-top: 0.15rem;
    padding: 0.3rem 1rem !important;
}

.nav-item .nav-link {
    margin: 0 0.3rem;
}

.nav-link:focus,
.nav-link:hover {
    color: var(--bs-nav-link-hover-color);
}

.welcome-msg {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    place-items: center;
    padding: 2rem;
}

.home-title {
    font-size: 8rem;
    line-height: 1.1;
}

.home-title-lg {
    font-size: 7rem;
    line-height: 1.1;
}

.sub-title {
    font-size: 3.5rem;
}

.hero-button {
    max-width: 40rem;
    margin: 6rem auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

/* LOGIN FORM CLASSES */

.login-form {
    display: flex;
    flex-direction: column;
    max-width: max-content;
    padding: 2rem;
    padding-top: 3rem;
    background-color: #ffffff;
    border: 1px solid #dedede;
    border-radius: 1rem;
    box-shadow: 2px 2px 20px #e3e3e3;
}

/* END OF LOGIN FORM */

.grid-cover {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-image: url("/images/herbs.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
}

.grid-cell {
    background-color: #f8f5fe;
    opacity: 0.98;
    transition: opacity 0.5s cubic-bezier(0.1, 0.9, 0.9, 1);
}

.grid-cell:hover {
    opacity: 0;
}

.orange-border-top {
    border-top: 0.5px solid #f83c03;
}

.orange-border-right {
    border-right: 0.5px solid #f83c03;
}

.orange-border-bottom {
    border-bottom: 0.5px solid #f83c03;
}

.orange-border-left {
    border-left: 0.5px solid #f83c03;
}

.white-text {
    color: #ffffff;
}

.green-text {
    color: #008c8c !important;
}

.blue-text {
    color: #0545a5 !important;
}

.black-text {
    color: #010101 !important;
}

.orange-text {
    color: #f86503 !important;
}

.red-text {
    color: #ff0000;
}

.shd-text {
    text-shadow: 1px 1px 3px #ffffff;
}

.shd-text-black {
    text-shadow: 1px 1px 0.5px #000000;
}

.bold-text {
    font-weight: 500 !important;
}

.vbold-text {
    font-weight: 700 !important;
}

.xbold-text {
    font-weight: 900 !important;
}

.my-py-4 {
    padding-top: 1rem !important;
    padding-bottom: 1.5rem !important;
}

.xtiny-bm {
    margin-bottom: 0.25rem !important;
}

.vtiny-bm {
    margin-bottom: 0.75rem !important;
}

.tiny-bm {
    margin-bottom: 1.25rem !important;
}

.large-bm {
    margin-bottom: 1.75rem !important;
}

.vlarge-bm {
    margin-bottom: 2.25rem !important;
}

.xlarge-bm {
    margin-bottom: 3rem !important;
}

.no-bm {
    margin: 0 !important;
}

.xtiny-tbm {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}

.vtiny-tbm {
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important;
}

.large-tbm {
    margin-top: 1.25rem !important;
    margin-bottom: 1.25rem !important;
}

.tiny-tbm {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.vlarge-tbm {
    margin-top: 2.25rem !important;
    margin-bottom: 2.25rem !important;
}

.xtiny-tm {
    margin-top: 0.25rem !important;
}

.vtiny-tm {
    margin-top: 0.75rem !important;
}

.large-tm {
    margin-top: 1.25rem !important;
}

.tiny-tm {
    margin-top: 1rem !important;
}

.vlarge-tm {
    margin-top: 2.25rem !important;
}

.xtiny-sm {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
}

.thin-text {
    font-weight: 200 !important;
}

.regular-text {
    font-weight: 300;
}

.centered-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.left-text {
    text-align: left;
}

.small-text {
    font-size: 0.85rem;
    margin: 0;
    padding: 0.15rem 0.5rem;
}

.smaller-text {
    font-size: 0.75rem;
    margin: 0;
    padding: 0;
}

.vsmall-text {
    font-size: 0.65rem;
}

.xsmall-text {
    font-size: 0.55rem;
}

.bg-white {
    --bs-bg-opacity: 1;
    background-color: #f8f5fe !important;
}

.bg-red {
    --bs-bg-opacity: 1;
    background-color: #ff0000 !important;
}

.bg-orange {
    --bs-bg-opacity: 1;
    background-color: #f83c03 !important;
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: #008c8c !important;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: #0cb466 !important;
}

.footer-row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: auto;
    margin-left: auto;
}

.footer-grid {
    max-width: fit-content;
    line-height: 1.2rem !important;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}

.footer-info {
    display: flex;
    gap: 0.165rem;
    padding: 0.3rem 0.3rem;
    margin: 0.5rem 0;
    flex-direction: row;
    align-items: center;
}

.footer-info2 {
    display: flex;
    padding: 0.3rem 0.3rem;
    margin: 0.5rem 0;
    flex-direction: row;
    align-items: center;
}

.footer-justify {
    justify-content: end;
}

.footer-justify2 {
    justify-content: left;
}

ul .nav-item {
    list-style: none;
}