.me-auto {
    margin-left: auto !important;
    margin-right: 0 !important;
}

.navbar {
    margin-bottom: 20px;
    border-bottom: 1px solid #008000;
}

.logo-area {
    width: 17rem;
    height: 4rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.my-navbar-logo {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/images/junejoseph2.png");
}

.button {
    font-size: 1.2rem;
    padding: 0.55rem 1rem;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 0.8rem;
    color: #ffffff;
    background-color: transparent;
}

.button-blue {
    font-size: 1rem;
    max-width: 10rem;
    padding: 0.3rem 2rem;
    text-align: center;
    border: 1px solid #0545a5;
    border-radius: 0.8rem;
    background-color: transparent;
}

.button-green {
    font-size: 1rem;
    max-width: 10rem;
    padding: 0.3rem 2rem;
    text-align: center;
    border: 1px solid #00a500;
    border-radius: 1rem;
    background-color: transparent;
}

.nav-item .button-green {
    margin-top: 0.15rem;
    padding: 0.3rem 1.5rem !important;
}

.nav-item .nav-link {
    margin: 0 0.3rem;
}

.white-text {
    color: #ffffff;
}

.green-text {
    color: #008000 !important;
}

.blue-text {
    color: #0545a5 !important;
}

.black-text {
    color: #222222 !important;
}

.orange-text {
    color: #f86503 !important;
}

.red-text {
    color: #ff0000;
}

.shd-text {
    text-shadow: 1px 1px 3px #ffffff;
}

.shd-text-black {
    text-shadow: 1px 1px 1px #000000;
}

.bold-text {
    font-weight: 500 !important;
}

.vbold-text {
    font-weight: 700 !important;
}

.xbold-text {
    font-weight: 900 !important;
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: #008000 !important;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: #0fb80f !important;
}