
.me-auto {
    margin-left: auto !important;
    margin-right: 0 !important;
}

.navbar {
    border-bottom: 1px solid #008c8c;
}

.border-top {
    border-top: 1px solid #008c8c !important;
}

.no-border {
    border: 0px !important;
}

.logo-area {
    width: 117px;
    height: 19.5px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.my-navbar-logo {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/images/junejoseph2.png");
}

.button {
    font-size: 1.2rem;
    padding: 0.55rem 1rem;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 0.8rem;
    color: #ffffff;
    background-color: transparent;
}

.button-blue {
    font-size: 1rem;
    padding: 0.3rem 2rem;
    text-align: center;
    border: 1px solid #0545a5;
    border-radius: 0.8rem;
    background-color: transparent;
}

.button-green {
    font-size: 1rem;
    padding: 0.3rem 2rem;
    text-align: center;
    border: 1px solid #008c8c;
    border-radius: 1rem;
    background-color: transparent;
}

.button-orange {
    font-size: 1rem;
    padding: 0.3rem 0.7rem;
    text-align: center;
    border: 1px solid #f83c03;
    border-radius: 1rem;
    background-color: transparent;
}

.nav-button-size {
    max-width: 10rem;
}

.nav-item .button-green {
    margin-top: 0.15rem;
    padding: 0.3rem 1rem !important;
}

.nav-item .nav-link {
    margin: 0 0.3rem;
}

.nav-link:focus,
.nav-link:hover {
    color: var(--bs-nav-link-hover-color);
}

.welcome-msg {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    place-items: center;
    padding: 2rem;
}

.home-title {
    font-size: 8rem;
    line-height: 1.1;
}

.home-title-lg {
    font-size: 7rem;
    line-height: 1.1;
}

.sub-title {
    font-size: 3.5rem;
}

.hero-button {
    max-width: 45rem;
    margin: 6rem auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}

/* LOGIN FORM CLASSES */

.login-form {
    display: flex;
    flex-direction: column;
    max-width: max-content;
    padding: 2rem;
    padding-top: 3rem;
    background-color: #ffffff;
    border: 1px solid #dedede;
    border-radius: 1rem;
    box-shadow: 2px 2px 20px #d3d3d3;
}

/* END OF LOGIN FORM */

.shaded-area {
    border: 1px solid #dedede;
    border-radius: 1rem;
    box-shadow: 2px 2px 20px #d3d3d3;
}

.author {
    max-width: 35%;
    float: right !important;
    margin: 1rem;
    border-radius: 0.5rem;
}

.grid-cover {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-image: url("/images/herbs.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
}

.grid-cell {
    background-color: #f8f5fe;
    opacity: 0.98;
    transition: opacity 0.5s cubic-bezier(0.1, 0.9, 0.9, 1);
}

.grid-cell:hover {
    opacity: 0;
}

.orange-border-top {
    border-top: 0.5px solid #f83c03;
}

.orange-border-right {
    border-right: 0.5px solid #f83c03;
}

.orange-border-bottom {
    border-bottom: 0.5px solid #f83c03;
}

.orange-border-left {
    border-left: 0.5px solid #f83c03;
}

.white-text {
    color: #ffffff;
}

.green-text {
    color: #008c8c !important;
}

.blue-text {
    color: #0545a5 !important;
}

.black-text {
    color: #010101 !important;
}

.orange-text {
    color: #f86503 !important;
}

.red-text {
    color: #ff0000 !important;
}

.shd-text {
    text-shadow: 1px 1px 3px #ffffff;
}

.shd-text-black {
    text-shadow: 1px 1px 0.5px #000000;
}

.bold-text {
    font-weight: 500 !important;
}

.vbold-text {
    font-weight: 700 !important;
}

.xbold-text {
    font-weight: 900 !important;
}

.my-p1 {
    padding: 1.5rem !important;
}

.my-p2 {
    padding: 2rem !important;
}

.my-py-4 {
    padding-top: 1rem !important;
    padding-bottom: 1.5rem !important;
}

.xtiny-bp {
    padding-bottom: 0.25rem !important;
}

.vtiny-bp {
    padding-bottom: 0.75rem !important;
}

.tiny-bp {
    padding-bottom: 1.25rem !important;
}

.large-bp {
    padding-bottom: 1.75rem !important;
}

.vlarge-bp {
    padding-bottom: 2.25rem !important;
}

.xlarge-bp {
    padding-bottom: 3rem !important;
}

.xtiny-tp {
    padding-top: 0.25rem !important;
}

.vtiny-tp {
    padding-top: 0.75rem !important;
}

.large-tp {
    padding-top: 1.25rem !important;
}

.tiny-tp {
    padding-top: 1rem !important;
}

.vlarge-tp {
    padding-top: 2.25rem !important;
}

.xtiny-bm {
    margin-bottom: 0.25rem !important;
}

.vtiny-bm {
    margin-bottom: 0.75rem !important;
}

.tiny-bm {
    margin-bottom: 1.25rem !important;
}

.large-bm {
    margin-bottom: 1.75rem !important;
}

.vlarge-bm {
    margin-bottom: 2.25rem !important;
}

.xlarge-bm {
    margin-bottom: 3rem !important;
}

.no-padding {
    padding: 0 !important;
}

.no-bm {
    margin: 0 !important;
}

.xtiny-tbm {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}

.vtiny-tbm {
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important;
}

.large-tbm {
    margin-top: 1.25rem !important;
    margin-bottom: 1.25rem !important;
}

.tiny-tbm {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.vlarge-tbm {
    margin-top: 2.25rem !important;
    margin-bottom: 2.25rem !important;
}

.xtiny-tm {
    margin-top: 0.25rem !important;
}

.vtiny-tm {
    margin-top: 0.75rem !important;
}

.large-tm {
    margin-top: 1.25rem !important;
}

.tiny-tm {
    margin-top: 1rem !important;
}

.vlarge-tm {
    margin-top: 2.25rem !important;
}

.xtiny-sm {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
}

.p-focus {
    font-size: 1.1rem;
}

.thin-text {
    font-weight: 200 !important;
}

.regular-text {
    font-weight: 300;
}

.centered-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.left-text {
    text-align: left;
}

.small-text {
    font-size: 0.85rem !important;
    margin: 0;
    padding: 0.15rem 0.5rem;
}

.smaller-text {
    font-size: 0.75rem;
    margin: 0;
    padding: 0;
}

.vsmall-text {
    font-size: 0.65rem !important;
}

.xsmall-text {
    font-size: 0.55rem;
}

.bg-white {
    --bs-bg-opacity: 1;
    background-color: #f8f5fe !important;
}

.bg-red {
    --bs-bg-opacity: 1;
    background-color: #ff0000 !important;
}

.bg-orange {
    --bs-bg-opacity: 1;
    background-color: #f83c03 !important;
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: #008c8c !important;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: #0cb466 !important;
}

.bg-whiter {
    background-color: #ffffff !important;
}

.footer-row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: auto;
    margin-left: auto;
}

.footer-grid {
    max-width: fit-content;
    line-height: 1.2rem !important;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}

.footer-info {
    display: flex;
    gap: 0.165rem;
    padding: 0.3rem 0.3rem;
    margin: 0.5rem 0;
    flex-direction: row;
    align-items: center;
}

.footer-info2 {
    display: flex;
    padding: 0.3rem 0.3rem;
    margin: 0.5rem 0;
    flex-direction: row;
    align-items: center;
}

.footer-justify {
    justify-content: end;
}

.footer-justify2 {
    justify-content: left;
}

ul .nav-item {
    list-style: none;
}

/* User Portal */

.top-icon {
    font-size: 1.2rem;
    margin-right: 0.2rem;
}

.side-icon {
    font-size: 1.2rem; 
    margin-right: 0.75rem;
}

/* End of User Portal */

/* COLLAPSIBLE SIDEBAR */

.my-sidebar {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 0;
    overflow: hidden;
    transition: width 1s ease;
    z-index: 1;
    margin-top: 45px;
    padding-top: 3rem;
    white-space: nowrap;
}

.my-sidebar a {
  padding: 0.35rem 2rem;
  margin: 0.2rem 0;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1;
  color: #ffffff;
  display: block;
  transition: 0.5s;
}

.my-sidebar a:hover {
    color: #008c8c;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #f8f5fe;
}

.my-sidebar a:focus {
    color: #008c8c;
    background-color: #f8f5fe;
}

.my-sidebar a.active {
    color: #008c8c;
    background-color: #f8f5fe;
}

.my-sidebar .close-btn {
  position: absolute;
  top: 0;
  right: 0.5rem;
  padding: 0.15rem 0.75rem !important;
  margin-top: 1rem;
  margin-left: auto;
}

.portal-main {
    transition: margin 0.5s ease, width 0.5s ease;
    padding: 0.3rem 0.7rem;
}

.open-btn {
  cursor: pointer;
  margin: 0 0.5rem;
  padding: 0.15rem 0.8rem;
  border-radius: 0.8rem;
}

.open-btn:hover {
  background-color: #444;
}

#signout-button {
    border-radius: 1rem;
    border: 1px solid #ffffff;
}

/* END OF COLLAPSIBLE SIDEBAR */

/* PORTAL CONTAINER */

.portal-container {
    display: flex;
    width: 100%;
}

.user-portal-main {
    width: 100%;
    top: 45px;
}

#portal-main {
    width: 84.5%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: margin-left .5s;
    margin: 0.5% 1% 0.5% 14.5%;
    padding: 0.3rem 0.7rem;
    /* background-color: #ffffff;
    border: 0.5px solid #dedede;
    border-radius: 1rem;
    box-shadow: 0.5px 0.5px 1.5px #dedede; */
}

.crumbs-area {
    width: 100%;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: auto 3fr auto;
    grid-template-rows: auto;
    align-items: center;
    padding: 0 0.5rem;
}

.mx-auto {
    margin: 0 auto !important;
}

.no-wrap {
    text-wrap: nowrap;
}

/* END OF PORTAL CONTAINER */

/* DASHBOARD CONTENT */

.dash-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dash-section {
    display: flex;
    flex-direction: column;
}

.dash-summary {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.dash-greetings {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    padding: 1rem;
    border-radius: 1rem;
    /* background-image: linear-gradient(to right, #008c8c, #0e8181, #025353); */
    background-color: #ffffff;
    box-shadow: 3px 3px 15px #cecece;
}

.greetings-text {
    /* text-shadow: 1px 1px 3px #5c5c5c; */
}

.dash-morning {
    color: #0d7e92;
    font-size: 6rem;
    text-shadow: 5px 5px 80px #b0e7eb,
                5px 5px 80px #b0e7eb,
                5px 5px 80px #b0e7eb,
                5px 5px 80px #b0e7eb;
    margin-right: 1rem;
}

.dash-afternoon {
    color: #ee9827;
    font-size: 6rem;
    text-shadow: 5px 5px 80px #ecc131,
                5px 5px 80px #ecc131,
                5px 5px 80px #ecc131,
                5px 5px 80px #ecc131;
    margin-right: 1rem;
}

.dash-evening {
    color: #042e55;
    font-size: 6rem;
    text-shadow: 5px 5px 80px #5f5f5d,
                5px 5px 80px #5f5f5d,
                5px 5px 80px #5f5f5d,
                5px 5px 80px #5f5f5d;
    margin-right: 1rem;
}

.dash-block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    border-radius: 1rem;
    box-shadow: 3px 3px 15px #cecece;
}

.dash-info {
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    grid-template-rows: auto;
    padding: 0.7rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #ffffff;
    transition: transform 0.3s ease;
}

.dash-info:hover {
    transform: scale(1.025);
}

.dash-icon {
    color: #f86503a8;
    font-size: 4rem;
}

.dash-link {
    padding: 2.5px 2.5px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #008c8ca2;
}

.dash-link a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

.dash-link:hover {
    font-size: 1.1rem;
    transition: 0.3s ease;
}

/* END DASHBOARD CONTENT */

/* PORTAL ARTICLES */

.articles-summary {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.metric-block {
    display: grid;
    grid-template-columns: 4fr 1.5fr;
    grid-template-rows: auto;
    padding: 2px;
    border-bottom: 4px solid #008c8ca2;
    border-radius: 0.8rem;
    background-color: #ffffff;
    box-shadow: 3px 3px 15px #cecece;
}

.metric-info {
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-width {
    max-width: max-content;
}

.metric-icon {
    border-radius: 3px;
    /* background-color: #008c8ca2; */
}

.m-icon {
    /* color: #ffffff; */
    color: #f86503a8;
    font-size: 2rem;
    line-height: 1.8;
}

.portal-actions {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto;
}

.actions-left {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
}

.actions-right {
    display: flex;
    gap: 0.5rem;
    flex-direction: row-reverse;
}

.action-block {
    display: grid;
    grid-template-columns: 1.5fr auto;
    grid-template-rows: auto;
    padding: 3px 8px;
    border-radius: 0.5rem;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px #cecece;
}

.action-block:hover {
    background-color: #e8e8e8;
}

.action-block-new {
    display: grid;
    grid-template-columns: 1.5fr auto;
    grid-template-rows: auto;
    padding: 3px 8px;
    border-radius: 0.5rem;
    align-items: center;
    background-color: #f86503;
    box-shadow: 2px 2px 5px #cecece;
}

.action-block-draft {
    display: grid;
    grid-template-columns: 1.5fr auto;
    grid-template-rows: auto;
    padding: 3px 15px;
    border: 1.2px solid #008c8c;
    border-radius: 1rem;
    align-items: center;
    background-color: #f8f8f8;
}

.action-delete-source {
    padding: 1.5px 6px;
    border: 1px solid #008c8c;
    border-radius: 1rem;
    align-items: center;
}

.action-block-draftnew {
    display: grid;
    grid-template-columns: 1.5fr auto;
    grid-template-rows: auto;
    padding: 3px 15px;
    border-radius: 1rem;
    align-items: center;
    background-color: #f8f8f8;
}

.action-block-publish {
    display: grid;
    grid-template-columns: 1.5fr auto;
    grid-template-rows: auto;
    padding: 3px 15px;
    border-radius: 1rem;
    align-items: center;
    background-color: #008c8c;
}

.action-block-cancel {
    display: grid;
    grid-template-columns: 1.5fr auto;
    grid-template-rows: auto;
    padding: 3px 15px;
    border-radius: 1rem;
    align-items: center;
    background-color: #f86503;
}

.action-icon-draft {
    color: #008c8c;
    font-size: 1rem;
    padding: 0.25px 3px;
}

.action-icon-draft::before {
    font-weight: 900 !important;
}

.action-icon-draft::after {
    font-weight: 900 !important;
}

#article-search:hover {
    background-color: #e8e8e8;
}

.action-icon-new {
    color: #ffffff;
    font-size: 1rem;
    padding: 0.25px 3px;
}

.action-icon-new::before {
    font-weight: 500 !important;
}

.action-icon-new::after {
    font-weight: 500 !important;
}

.action-icon {
    font-size: 1rem;
    padding: 0.25px 3px;
}

.action-icon::before {
    font-weight: 500 !important;
}

.action-icon::after {
    font-weight: 500 !important;
}

.action-name {
    margin: 0 0.25rem;
}

/* END PORTAL ARTICLES */

/* PORTAL BLOG POSTS */

.main-post {
    display: flex;
    flex-direction: column;
    width: 100%
}

.form-section {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
}

.form-bottom {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    gap: 1rem;
}

.set-featured {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
}

.form-buttons {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    gap: 1rem;
}

.ql-container {
    font-family: "Raleway", sans-serif !important;
    min-height: 20vh !important;
    margin: 0 0 0.75rem 0 !important;
    position: relative;
}

/* END PORTAL BLOG POSTS */

/* PORTAL QUESTIONS */

.questions-summary {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}

/* END PORTAL QUESTIONS*/