
#blog-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

#header {
    position: absolute;
    top: 0;
    padding: 1rem 0;
    height: 3rem;
}

#body {
    position: absolute;
    top: 4rem;
    width: 100%;
    height: 93.9vh;
    flex-grow: 1;
}

#blog-welcome {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 3.5fr 1.5fr;
    grid-template-rows: auto;
    place-items: center;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (max-width: 576px) {

    :root {
        --body-padding-bottom: 1.8rem;
    }

    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        --bs-gutter-x: 3rem !important;
    }

    html,
    body {
        font-size: 13px;
    }

    #body {
        padding-bottom: var(--body-padding-bottom);
    }

    .navbar-nav {
        --bs-nav-link-padding-y: 0;
    }

    .nav-item .button-green {
        padding: 0.3rem 1.5rem !important;
    }

    .nav-item .nav-link {
        font-size: 1.2rem;
        margin: 0.3rem 0.3rem;
    }

    #blog-welcome {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .welcome-msg {
        margin-top: 4.55rem;
        padding: 1.1rem;
    }

    .home-title {
        font-size: 3rem;
        line-height: 1.1;
    }

    .home-title-lg {
        display: none;
    }

    .sub-title {
        font-size: 1.8rem;
        font-weight: 400 !important;
    }

    .hero-button {
        gap: 1rem;
        padding: 0 2rem;
    }

    .hero-button .nav-link {
        font-size: 1.1rem !important;
        padding: 0.3rem 0.7rem;
    }

    .grid-cover {
        display: none;
    }

    .footer-grid {
        display: none;
    }
    
}

@media (min-width: 577px) and (max-width: 768px) {

    :root {
        --body-padding-bottom: 1.8rem;
    }
    
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 95%;
    }

    html,
    body {
        font-size: 13.25px;
    }

    #body {
        padding-bottom: var(--body-padding-bottom);
    }

    .navbar-nav {
        --bs-nav-link-padding-y: 0;
    }

    .nav-item .button-green {
        padding: 0.3rem 1.5rem !important;
    }


    .nav-item .nav-link {
        font-size: 1.1rem;
        margin: 0.3rem 0.3rem;
    }

    #blog-welcome {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .welcome-msg {
        margin-top: 4.55rem;
        padding: 1.1rem;
    }

    .home-title-lg {
        font-size: 3.5rem;
        line-height: 1.1;
    }

    .home-title {
        display: none;
    }

    .sub-title {
        font-size: 1.8rem;
        font-weight: 400 !important;
    }

    .hero-button {
        gap: 2.5rem;
        padding: 0 2rem;
    }

    .hero-button .nav-link {
        font-size: 1.2rem !important;
        padding: 0.3rem 1rem;
    }

    .grid-cover {
        display: none;
    }

    .footer-grid {
        display: none;
    }

}

@media (min-width: 769px) and (max-width: 992px) {

    :root {
        --body-padding-bottom: 1.8rem;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 92%;
    }

    html,
    body {
        font-size: 13.5px;
    }

    #body {
        padding-bottom: var(--body-padding-bottom);
    }

    .navbar-nav {
        --bs-nav-link-padding-y: 0;
    }

    .nav-item .button-green {
        padding: 0.3rem 1.5rem !important;
    }

    .menu-margin {
        margin: 0.75rem 0 0 0 !important;
    }

    #blog-welcome {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .welcome-msg {
        margin-top: 4.55rem;
    }

    .home-title {
        display: none;
    }

    .home-title-lg {
        font-size: 3.4rem;
        line-height: 1.1;
    }

    .sub-title {
        font-size: 1.7rem;
        font-weight: 400 !important;
    }

    .hero-button {
        gap: 3rem;
    }

    .hero-button .nav-link {
        font-size: 1.2rem !important;
        padding: 0.3rem 2rem;
    }

    .grid-cover {
        display: none;
    }

    .footer-grid {
        display: none;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {

    :root {
        --body-padding-bottom: 1.8rem;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 90%;
    }

    html,
    body {
        font-size: 13.75px;
    }

    #body {
        padding-bottom: var(--body-padding-bottom);
    }

    #blog-welcome {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .welcome-msg {
        margin-top: 4.55rem;
    }

    .home-title {
       display: none;
    }

    .home-title-lg {
        font-size: 4rem;
        line-height: 1.1;
    }

    .sub-title {
        font-size: 2rem;
        font-weight: 400;
    }

    .hero-button {
        gap: 4rem;
    }

    .hero-button .nav-link {
        font-size: 1.2rem !important;
        padding: 0.3rem 2rem;
    }

    .grid-cover {
        display: none;
    }

    .footer-grid {
        display: none;
    }

}

@media (min-width: 1201px) and (max-width: 1440px) {

    :root {
        --body-padding-bottom: 7rem;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 90%;
    }

    html,
    body {
        font-size: 14px;
    }

    #body {
        padding-bottom: var(--body-padding-bottom);
    }

    #blog-welcome {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .home-title {
        display: none;
    }

    .home-title-lg {
        font-size: 4.5rem;
        line-height: 1.1;
    }

    .grid-cover {
        display: none;
    }

    .sub-title {
        font-size: 2.25rem;
        font-weight: 400 !important;
    }

    .hero-button {
        gap: 4rem;
    }

    .hero-button .nav-link {
        font-size: 1.2rem !important;
        padding: 0.3rem 2rem;
    }

    .footer-grid {
        gap: 0;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .footer-info2 {
        display: none;
    }

    .footer-justify,
    .footer-justify2 {
        justify-content: center;
    }
}

@media (min-width: 1441px) and (max-width: 1680px) {

    :root {
        --body-padding-bottom: 7rem;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 90%;
    }

    html,
    body {
        font-size: 14.5px;
    }

    #body {
        padding-bottom: var(--body-padding-bottom);
    }

    .home-title {
        display: none;
    }

    .home-title-lg {
        font-size: 4rem;
        line-height: 1.1;
    }

    .sub-title {
        font-size: 2rem;
        font-weight: 400 !important;
    }

    .hero-button {
        gap: 4rem;
    }

    .hero-button .nav-link {
        font-size: 1.2rem !important;
        padding: 0.3rem 2rem;
    }
    
    .footer-justify,
    .footer-justify2 {
        justify-content: center;
    }
}

@media (min-width: 1681px) and (max-width: 1920px) {

    :root {
        --body-padding-bottom: 7.2rem;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 90%;
    }

    html,
    body {
        font-size: 15px;
    }

    #body {
        padding-bottom: var(--body-padding-bottom);
    }

    .home-title {
        display: none;
    }

    .home-title-lg {
        font-size: 4.5rem;
        line-height: 1.1;
    }

    .sub-title {
        font-size: 2.25rem;
        font-weight: 400 !important;
    }

    .hero-button {
        gap: 4rem;
    }

    .hero-button .nav-link {
        font-size: 1.2rem !important;
        padding: 0.3rem 2rem;
    }

}

@media (min-width: 1921px) and (max-width: 2200px) {

    :root {
        --body-padding-bottom: 7.2rem;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 90%;
    }

    html,
    body {
        font-size: 15.5px;
    }

    #body {
        padding-bottom: var(--body-padding-bottom);
    }

    .home-title {
        display: none;
    }

    .home-title-lg {
        font-size: 5rem;
        line-height: 1.1;
    }

    .sub-title {
        font-size: 2.5rem;
        font-weight: 400 !important;
    }

    .hero-button {
        gap: 4rem;
    }

    .hero-button .nav-link {
        font-size: 1.2rem !important;
        padding: 0.3rem 2rem;
    }


}

@media (min-width: 2201px) {

    :root {
        --body-padding-bottom: 7.2rem;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 85%;
    }

    html,
    body {
        font-size: 15.5px;
    }

    #body {
        padding-bottom: var(--body-padding-bottom);
    }

    .home-title {
        display: none;
    }

    .hero-button {
        gap: 4rem;
    }

    .hero-button .nav-link {
        font-size: 1.2rem !important;
        padding: 0.3rem 2rem;
    }

}