* {
    box-sizing: border-box;
}

html, body {
    font-family: "Raleway", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #222222;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f8f5fe;
}

#blog-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

#header {
    position: absolute;
    top: 0;
    padding: 1rem 0;
    height: 3rem;
}

#body {
    position: absolute;
    top: 5rem;;
    width: 100%;
    height: 92.4vh;
    flex-grow: 1;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#sub-form {
    position: fixed;
    max-width: 35rem;
    background-color: #ffffff;
    padding: 1rem;
    border: 1px solid #dedede;
    border-radius: 1rem;
    box-shadow: 2px 2px 20px #e3e3e3;
}

.main-sub-form {
    padding: 1rem;
}

.hidden-form {
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
}

.visible-form {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.hidden-button {
    display: none;
}

.footer-row .my-py-4 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

@media (max-width: 576px) {

    :root {
        --body-padding-bottom: 1.8rem;
    }

    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        --bs-gutter-x: 3rem !important;
    }

    html,
    body {
        font-size: 13px;
    }

    #body {
        padding-bottom: var(--body-padding-bottom);
    }

    .navbar-nav {
        --bs-nav-link-padding-y: 0;
    }

    .nav-item .button-green {
        padding: 0.3rem 1.5rem !important;
    }

    .nav-item .nav-link {
        font-size: 1.2rem;
        margin: 0.3rem 0.3rem;
    }

    .footer-grid {
        display: none;
    }

    #sub-form {
        bottom: calc(--body-padding-bottom);
    }
    
}

@media (min-width: 577px) and (max-width: 768px) {

    :root {
        --body-padding-bottom: 1.8rem;
    }
    
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 95%;
    }

    html,
    body {
        font-size: 13.5px;
    }

    #body {
        padding-bottom: var(--body-padding-bottom);
    }

    .navbar-nav {
        --bs-nav-link-padding-y: 0;
    }

    .nav-item .button-green {
        padding: 0.3rem 1.5rem !important;
    }

    .nav-item .nav-link {
        font-size: 1.1rem;
        margin: 0.3rem 0.3rem;
    }

    .footer-grid {
        display: none;
    }

}

@media (min-width: 769px) and (max-width: 992px) {

    :root {
        --body-padding-bottom: 1.8rem;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 92%;
    }

    html,
    body {
        font-size: 13px;
    }

    #body {
        padding-bottom: var(--body-padding-bottom);
    }

    .navbar-nav {
        --bs-nav-link-padding-y: 0;
    }

    .nav-item .button-green {
        padding: 0.3rem 1.5rem !important;
    }

    .nav-item .nav-link {
        font-size: 1.15rem;
        margin: 0.3rem 0.3rem;
    }

    .menu-margin {
        margin: 0.75rem 0 0 0 !important;
    }

    .footer-grid {
        display: none;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {

    :root {
        --body-padding-bottom: 1.8rem;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 92%;
    }

    html,
    body {
        font-size: 13.5px;
    }

    #body {
        padding-bottom: var(--body-padding-bottom);
    }

    .footer-grid {
        display: none;
    }

}

@media (min-width: 1201px) and (max-width: 1440px) {

    :root {
        --body-padding-bottom: 7rem;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 92%;
    }

    html,
    body {
        font-size: 14px;
    }

    #body {
        padding-bottom: var(--body-padding-bottom);
    }

    .footer-grid {
        gap: 0;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .footer-info2 {
        display: none;
    }

    .footer-justify,
    .footer-justify2 {
        justify-content: center;
    }
}

@media (min-width: 1441px) and (max-width: 1680px) {

    :root {
        --body-padding-bottom: 6rem;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 92%;
    }

    html,
    body {
        font-size: 14.5px;
    }

    #body {
        padding-bottom: var(--body-padding-bottom);
    }

    .footer-grid {
        gap: 0.3rem;
    }

    #sub-form {
        bottom: var(--body-padding-bottom);
        right: 1rem;
    }

    .footer-justify,
    .footer-justify2 {
        justify-content: center;
    }
}

@media (min-width: 1681px) and (max-width: 1920px) {

    :root {
        --body-padding-bottom: 6rem;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 92%;
    }

    html,
    body {
        font-size: 15px;
    }

    #body {
        padding-bottom: var(--body-padding-bottom);
    }

    #sub-form {
        bottom: var(--body-padding-bottom);
        right: 1rem;
    }

}

@media (min-width: 1921px) and (max-width: 2200px) {

    :root {
        --body-padding-bottom: 5.8rem;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 90%;
    }

    html,
    body {
        font-size: 15.5px;
    }

    #body {
        padding-bottom: var(--body-padding-bottom);
    }

    #sub-form {
        bottom: var(--body-padding-bottom);
        right: 1rem;
    }

}

@media (min-width: 2201px) {

    :root {
        --body-padding-bottom: 6rem;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 85%;
    }

    html,
    body {
        font-size: 15.5px;
    }

    #body {
        padding-bottom: var(--body-padding-bottom);
    }

    #sub-form {
        bottom: var(--body-padding-bottom);
        right: 1rem;
    }

}