* {
    box-sizing: border-box;
}

html, body {
    font-family: "Raleway", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #222222;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f8f5fe;
}

#blog-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

#header {
    position: absolute;
    top: 0;
    padding: 1rem 0;
    height: 3rem;
}

#body {
    position: absolute;
    top: 5rem;;
    padding-bottom: 5rem;
    /* Height of the footer */
    width: 100%;
    height: 92.4vh;
    flex-grow: 1;
}

#blog-welcome {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 3.5fr 1.5fr;
    grid-template-rows: auto;
    place-items: center;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (max-width: 576px) {
    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        --bs-gutter-x: 3rem !important;
    }

    html,
    body {
        font-size: 13px;
    }

    #body {
        padding-bottom: 3.8rem;
    }

    .navbar-nav {
        --bs-nav-link-padding-y: 0;
    }

    .nav-item .button-green {
        padding: 0.3rem 1.5rem !important;
    }

    .nav-item .nav-link {
        font-size: 1.2rem;
        margin: 0.3rem 0.3rem;
    }

    #blog-welcome {
        grid-template-columns: 1fr;
        grid-template-rows: 5fr 2fr;
    }

    .welcome-msg {
        padding: 1.5rem;
    }

    .home-title {
        font-size: 3.2rem;
        line-height: 1.1;
    }

    .sub-title {
        font-size: 2rem;
        font-weight: 400 !important;
    }

    .hero-button .nav-link {
        font-size: 1.1rem !important;
    }

    .grid-cover {
        display: none;
    }

    .footer-grid {
        display: none;
    }

    .footer-justify,
    .footer-justify2 {
        justify-content: center;
    }
    
}

@media (min-width: 577px) and (max-width: 768px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 95%;
    }

    html,
    body {
        font-size: 13.5px;
    }

    #body {
        padding-bottom: 16.5rem;
    }

    .navbar-nav {
        --bs-nav-link-padding-y: 0;
    }

    .nav-item .button-green {
        padding: 0.3rem 1.5rem !important;
    }


    .nav-item .nav-link {
        font-size: 1.1rem;
        margin: 0.3rem 0.3rem;
    }

    #blog-welcome {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .home-title {
        font-size: 3.85rem;
        line-height: 1.1;
    }

    .sub-title {
        font-size: 1.45rem;
        font-weight: 500 !important;
    }

    .grid-cover {
        display: none;
    }

    .footer-grid {
        line-height: 1rem !important;
        gap: 0;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }

    .footer-justify,
    .footer-justify2 {
        justify-content: center;
    }

    .footer-info {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        margin: 0.2rem 0 0 0;
    }

}

@media (min-width: 769px) and (max-width: 992px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 92%;
    }

    html,
    body {
        font-size: 13px;
    }

    #body {
        padding-bottom: 12.5rem;
    }

    .navbar-nav {
        --bs-nav-link-padding-y: 0;
    }

    .nav-item .button-green {
        padding: 0.3rem 1.5rem !important;
    }

    .nav-item .nav-link {
        font-size: 1.15rem;
        margin: 0.3rem 0.3rem;
    }

    .menu-margin {
        margin: 0.75rem 0 0 0 !important;
    }

    #blog-welcome {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .home-title {
        font-size: 4.5rem;
        line-height: 1.1;
    }

    .sub-title {
        font-size: 1.65rem;
        font-weight: 400 !important;
    }

    .grid-cover {
        display: none;
    }

    .footer-grid {
        line-height: 1rem !important;
        gap: 0;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }

    .footer-justify,
    .footer-justify2 {
        justify-content: center;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 90%;
    }

    html,
    body {
        font-size: 13.5px;
    }

    #body {
        padding-bottom: 11.5rem;
    }

    #blog-welcome {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .home-title {
        font-size: 6rem;
        line-height: 1.1;
    }

    .sub-title {
        font-size: 2.25rem;
    }

    .hero-button {
        font-size: 1.2rem;
    }

    .grid-cover {
        display: none;
    }

    .footer-grid {
        gap: 0;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }

    .footer-justify,
    .footer-justify2 {
        justify-content: center;
    }
}

@media (min-width: 1201px) and (max-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 90%;
    }

    html,
    body {
        font-size: 14px;
    }

    #body {
        padding-bottom: 11.5rem;
    }

    .home-title {
        font-size: 4.5rem;
        line-height: 1.1;
    }

    .sub-title {
        font-size: 1.5rem;
    }

    .hero-button {
        display: none;
    }

    .footer-grid {
        gap: 0;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }

    .footer-justify,
    .footer-justify2 {
        justify-content: center;
    }
}

@media (min-width: 1401px) and (max-width: 1680px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 90%;
    }

    html,
    body {
        font-size: 14.5px;
    }

    #body {
        padding-bottom: 11.5rem;
    }

    .home-title {
        font-size: 5rem;
        line-height: 1.1;
    }

    .sub-title {
        font-size: 1.8rem;
    }

    .hero-button {
        display: none;
    }

    .footer-grid {
        gap: 0;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }

    .footer-justify,
    .footer-justify2 {
        justify-content: center;
    }
}

@media (min-width: 1681px) and (max-width: 1920px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 90%;
    }

    html,
    body {
        font-size: 15px;
    }

    #body {
        padding-bottom: 7.2rem;
    }

    .home-title {
        font-size: 5.5rem;
        line-height: 1.1;
    }

    .sub-title {
        font-size: 2rem;
    }

    .hero-button {
        display: none;
    }
}

@media (min-width: 1921px) and (max-width: 2200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 90%;
    }

    html,
    body {
        font-size: 15.5px;
    }

    .home-title {
        font-size: 6.5rem;
        line-height: 1.1;
    }

    .sub-title {
        font-size: 2.55rem;
    }

    #body {
        padding-bottom: 7.2rem;
    }

    .hero-button {
        display: none;
    }
}

@media (min-width: 2201px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 85%;
    }

    html,
    body {
        font-size: 15.5px;
    }

    #body {
        padding-bottom: 7.2rem;
    }

    .hero-button {
        display: none;
    }
}