* {
    box-sizing: border-box;
}

:root {
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1440px;
    --bs-breakpoint-xxxl: 1680px;
    --bs-breakpoint-xxxxl: 1920px;
    --bs-breakpoint-xxxxxl: 2200px;
}

html, body {
    font-family: "Raleway", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #222222;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f8f5fe;
}

#blogs-container {
    min-height: 100%;
    position: relative;
}

#blogs-header {
    padding: 2rem;
}

#portal-header {
    padding: 1.72rem;
}

#blog-body {
    padding-bottom: 5.8rem;
}

#portal-body {
    width: 100%;
    position: absolute;
    top: 45.5px;
    padding-bottom: 45px;
}

#better-way .home-cols {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 5fr 2.2fr;
    grid-template-rows: auto;
}

#blogs-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5.8rem;
}

#portal-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
}

#sub-form {
    position: fixed;
    bottom: var(--body-padding-bottom);
    right: 0.5rem;
    max-width: 25rem;
    background-color: #ffffff;
    padding: 1rem;
    border: 1px solid #dedede;
    border-radius: 1rem;
    box-shadow: 2px 2px 20px #d3d3d3;
}

#question-form {
    position: fixed;
    bottom: var(--body-padding-bottom);
    right: 0.5rem;
    max-width: 30rem;
    background-color: #ffffff;
    padding: 1rem;
    border: 1px solid #dedede;
    border-radius: 1rem;
    box-shadow: 2px 2px 20px #d3d3d3;
}

.main-form {
    padding: 1rem;
}

.hidden-form {
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
}

.visible-form {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.hidden-button {
    display: none;
}

.hidden-div {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 100ms ease-in-out, max-height 100ms ease-in-out;
}

#question-tooltip {
    position: absolute;
    bottom: calc(var(--body-padding-bottom) + 22.5rem);
    right: 1rem;
    max-width: 25rem;
    border-radius: 0.8rem;
    padding: 0.5rem;
}

#footer-sign {
    display: flex;
    gap: 1rem;
    margin: 0 auto;
}

#portal-nav {
    display: flex;
    flex-direction: column;
    height: 80%;
}

#sign-out {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0
}

.copyright {
    margin: 0.6rem 0.3rem;
}

@media (max-width: 576px) {

    :root {
        --body-padding-bottom: 2.2rem;
        --mySidebar-width: 48.6%;
    }

    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        --bs-gutter-x: 3rem !important;
    }

    html,
    body {
        font-size: 13px;
    }

    #body {
        padding-bottom: var(--body-padding-bottom);
    }

    #portal-header {
        padding: 2.2rem;
    }

    .portal-main {
        margin: 1% 1.5%;
        width: 97%;
    }

    #blog-body {
        padding-bottom: var(--body-padding-bottom);
    }

    #blogs-footer {
        height: var(--body-padding-bottom);
    }

    .navbar {
        --bs-navbar-padding-x: 0;
        --bs-navbar-padding-y: 0.3rem;
    }

    .navbar-nav {
        --bs-nav-link-padding-y: 0.3rem;
    }

    .nav-item .button-green {
        padding: 0.15rem 0.7rem !important;
    }

    .nav-item .nav-link {
        font-size: 1rem;
        margin: 0.3rem 0.3rem;
    }

    .nav-item #sub-button-xs {
        padding: 0.2rem 0.7rem;
    }

    #better-way .home-cols {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    #better-way > .my-p2 {
        padding: 0.25rem !important;
    }

    .footer-grid {
        display: none;
    }

    .hide-sm-xl, 
    .hide-xs-xl,
    .hide-sm {
        display: none;
    }
    
}

@media (min-width: 577px) and (max-width: 768px) {

    :root {
        --body-padding-bottom: 2.5rem;
        --mySidebar-width: 33%;
    }
    
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 95%;
    }

    html,
    body {
        font-size: 13.25px;
    }

    #body {
        padding-bottom: var(--body-padding-bottom);
    }

    #blog-body {
        padding-bottom: var(--body-padding-bottom);
    }

    #portal-header {
        padding: 2.15rem;
    }

    .portal-main {
        margin: 1% 1.5%;
        width: 97%;
    }

    #blogs-footer {
        height: var(--body-padding-bottom);
    }

    .navbar-nav {
        --bs-nav-link-padding-y: 0;
    }

    .nav-item .button-green {
        padding: 0.3rem 1.5rem !important;
    }

    .nav-item .nav-link {
        font-size: 1rem;
        margin: 0.4rem 0.3rem;
    }

    #better-way .home-cols {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .footer-grid {
        display: none;
    }

    .nav-item #sub-button-sm {
        padding: 0.16rem 2rem;
    }

    .crumbs-area {
        gap: 1rem;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto;
    }

    .hide-sm-xl, 
    .hide-s-xl,
    .hide-sm {
        display: none;
    }

}

@media (min-width: 769px) and (max-width: 992px) {

    :root {
        --body-padding-bottom: 2.5rem;
        --mySidebar-width: 25.2%;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 92%;
    }

    html,
    body {
        font-size: 13.5px;
    }

    #body {
        padding-bottom: var(--body-padding-bottom);
    }

    #blog-body {
        padding-bottom: var(--body-padding-bottom);
    }

    #portal-header {
        padding: 2.15rem;
    }

    .portal-main {
        margin: 0.5% 1%;
        width: 98%;
    }

    .author {
        max-width: 25%;
    }

    #blogs-footer {
        height: var(--body-padding-bottom);
    }

    .navbar-nav {
        --bs-nav-link-padding-y: 0;
    }

    .nav-item .button-green {
        padding: 0.3rem 1.5rem !important;
    }

    .nav-item .nav-link {
        font-size: 1rem;
        margin: 0.4rem 0.3rem;
    }

    .menu-margin {
        margin: 0.75rem 0 0 0 !important;
    }

    #better-way .home-cols {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .footer-grid {
        display: none;
    }

    .nav-item #sub-button-sm {
        padding: 0.16rem 2rem;
    }

    .hide-sm-xl, .hide-s-xl {
        display: none;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {

    :root {
        --body-padding-bottom: 2.5rem;
        --mySidebar-width: 20%;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 92%;
    }

    html,
    body {
        font-size: 13.75px;
    }

    #body {
        padding-bottom: var(--body-padding-bottom);
    }

    #blog-body {
        padding-bottom: var(--body-padding-bottom);
    }

    #portal-header {
        padding: 2.15rem;
    }

    .portal-main {
        margin: 0.5% 1%;
        width: 98%;
    }

    .author {
        max-width: 20%;
    }

    #blogs-footer {
        height: var(--body-padding-bottom);
    }

    .navbar-nav {
        --bs-nav-link-padding-y: 0;
    }

    #better-way .home-cols {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .footer-grid {
        display: none;
    }

    .nav-item .nav-link {
        font-size: 1rem;
        margin: 0.4rem 0.3rem;
    }

    .menu-margin {
        margin: 0.85rem 0 0 0 !important;
    }

    .hide-sm-xl, .hide-s-xl {
        display: none;
    }

    .nav-item #sub-button-sm {
        padding: 0.16rem 2rem;
    }

}

@media (min-width: 1201px) and (max-width: 1440px) {

    :root {
        --body-padding-bottom: 5.8rem;
        --mySidebar-width: 17%;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 92%;
    }

    html,
    body {
        font-size: 14px;
    }

    #body {
        padding-bottom: var(--body-padding-bottom);
    }

    .navbar-nav {
        --bs-nav-link-padding-y: 0;
    }

    #portal-header {
        padding: 2.1rem;
    }

    .my-sidebar {
        width: var(--mySidebar-width);
        z-index: 1;
    }

    .portal-main {
        margin-top: 0.5%;
        margin-right: 0.5%;
        margin-bottom: 0.5%;
        margin-left: calc(var(--mySidebar-width) + 0.5%);
        width: calc(99% - var(--mySidebar-width));
    }

    #better-way .home-cols {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .author {
        max-width: 15%;
    }

    .footer-grid {
        gap: 0;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
    }

    .footer-info2 {
        display: none;
    }

    .nav-item .nav-link {
        font-size: 1rem;
        margin: 0.4rem 0.3rem;
    }

    .menu-margin {
        margin: 0.85rem 0 0 0 !important;
    }

    .nav-item #sub-button-sm {
        padding: 0.16rem 2rem;
    }

    .footer-justify,
    .footer-justify2 {
        justify-content: center;
    }

    .hide-s-xl {
        display: none;
    }
}

@media (min-width: 1441px) and (max-width: 1680px) {

    :root {
        --body-padding-bottom: 5.8rem;
        --mySidebar-width: 14.5%;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 92%;
    }

    html,
    body {
        font-size: 14.5px;
    }

    #body {
        padding-bottom: var(--body-padding-bottom);
    }

    .navbar-nav {
        --bs-nav-link-padding-y: 0;
    }

    .menu-margin {
        margin: 0.45rem 0 0 0 !important;
    }

    #portal-header {
        padding: 1.75rem;
    }

    .my-sidebar {
        width: var(--mySidebar-width);
        z-index: 1;
        margin-top: 40px;
    }

    .portal-main {
        margin-top: 0.5%;
        margin-right: 0.5%;
        margin-bottom: 0.5%;
        margin-left: calc(var(--mySidebar-width) + 0.5%);
        width: calc(99% - var(--mySidebar-width));
    }

    .sidepanel {
        margin-top: 40px;
    }

    .footer-grid {
        gap: 0.3rem;
    }

    .nav-item #sub-button {
        padding: 0.3rem 2rem;
    }

    .hide-sm-xl, 
    .hide-xs-xl, 
    .hide-s-xl {
        display: none;
    }

    .footer-justify,
    .footer-justify2 {
        justify-content: center;
    }
}

@media (min-width: 1681px) and (max-width: 1920px) {

    :root {
        --body-padding-bottom: 5.8rem;
        --mySidebar-width: 13%;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 92%;
    }

    html,
    body {
        font-size: 15px;
    }

    #body {
        padding-bottom: var(--body-padding-bottom);
    }

    .navbar-nav {
        --bs-nav-link-padding-y: 0;
    }

    .menu-margin {
        margin: 0.45rem 0 0 0 !important;
    }

    #portal-header {
        padding: 1.75rem;
    }

    .my-sidebar {
        width: var(--mySidebar-width);
        z-index: 1;
        margin-top: 40px;
    }

    .portal-main {
        margin-top: 0.5%;
        margin-right: 0.5%;
        margin-bottom: 0.5%;
        margin-left: calc(var(--mySidebar-width) + 0.5%);
        width: calc(99% - var(--mySidebar-width));
    }

    .nav-item #sub-button {
        padding: 0.3rem 2rem;
    }

    .hide-sm-xl,
    .hide-xs-xl, 
    .hide-s-xl {
        display: none;
    }

}

@media (min-width: 1921px) and (max-width: 2200px) {

    :root {
        --body-padding-bottom: 5.8rem;
        --mySidebar-width: 11.6%;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 90%;
    }

    html,
    body {
        font-size: 15.5px;
    }

    #body {
        padding-bottom: var(--body-padding-bottom);
    }

    .navbar-nav {
        --bs-nav-link-padding-y: 0;
    }

    .menu-margin {
        margin: 0.45rem 0 0 0 !important;
    }

    .my-sidebar {
        width: var(--mySidebar-width);
        z-index: 1;
        margin-top: 40px;
    }

    .portal-main {
        margin-top: 0.5%;
        margin-right: 0.5%;
        margin-bottom: 0.5%;
        margin-left: calc(var(--mySidebar-width) + 0.5%);
        width: calc(99% - var(--mySidebar-width));
    }

    .sidepanel {
        margin-top: 40px;
    }

    .nav-item #sub-button {
        padding: 0.3rem 2rem;
    }

    .hide-sm-xl, 
    .hide-xs-xl, 
    .hide-s-xl {
        display: none;
    }

}

@media (min-width: 2201px) {

    :root {
        --body-padding-bottom: 5.8rem;
        --mySidebar-width: 9%;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 85%;
    }

    html,
    body {
        font-size: 15.5px;
    }

    #body {
        padding-bottom: var(--body-padding-bottom);
    }

    .navbar-nav {
        --bs-nav-link-padding-y: 0;
    }

    .nav-item .nav-link {
        font-size: 1rem;
    }

    .menu-margin {
        margin: 0.5rem 0 0 0 !important;
    }

    .my-sidebar {
        width: var(--mySidebar-width);
        z-index: 1;
        margin-top: 40px;
    }

    .portal-main {
        margin-top: 0.5%;
        margin-right: 0.5%;
        margin-bottom: 0.5%;
        margin-left: calc(var(--mySidebar-width) + 0.5%);
        width: calc(99% - var(--mySidebar-width));
    }

    .sidepanel {
        margin-top: 40px;
    }

    .nav-item #sub-button {
        padding: 0.3rem 2rem;
    }

    .hide-sm-xl, 
    .hide-xs-xl, 
    .hide-s-xl {
        display: none;
    }

}