* {
    box-sizing: border-box;
}

html, body {
    font-family: "Raleway", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #222222;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f8f5fe;
}

#blog-container {
    min-height: 100%;
    position: relative;
}

#header {
    position: absolute;
    top: 0;
    padding: 1px 0;
    height: 3rem;
}

#body {
    padding: 10px;
    padding-bottom: 60px;
    /* Height of the footer */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Height of the footer */
}

@media (max-width: 576px) {
    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        --bs-gutter-x: 3rem !important;
    }

    html,
    body {
        font-size: 12px;
    }

    .navbar-nav {
        --bs-nav-link-padding-y: 0;
    }

    .nav-item .button-green {
        padding: 0.3rem 1.5rem !important;
    }

    .nav-item .nav-link {
        font-size: 1.3rem;
        margin: 0.5rem 0.3rem;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 95%;
    }

    html,
    body {
        font-size: 12.5px;
    }

    .navbar-nav {
        --bs-nav-link-padding-y: 0;
    }

    .nav-item .button-green {
        padding: 0.3rem 1.5rem !important;
    }

    .nav-item .nav-link {
        font-size: 1.3rem;
        margin: 0.5rem 0.3rem;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 92%;
    }

    html,
    body {
        font-size: 13px;
    }

    .navbar-nav {
        --bs-nav-link-padding-y: 0;
    }

    .nav-item .button-green {
        padding: 0.3rem 1.5rem !important;
    }

    .nav-item .nav-link {
        font-size: 1.3rem;
        margin: 0.5rem 0.3rem;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 90%;
    }

    html,
    body {
        font-size: 13.5px;
    }
}

@media (min-width: 1201px) and (max-width: 1440px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 90%;
    }

    html,
    body {
        font-size: 14px;
    }
}

@media (min-width: 1401px) and (max-width: 1680px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 90%;
    }

    html,
    body {
        font-size: 14.5px;
    }
}

@media (min-width: 1681px) and (max-width: 1920px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 90%;
    }

    html,
    body {
        font-size: 15px;
    }
}

@media (min-width: 1921px) and (max-width: 2200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 90%;
    }

    html,
    body {
        font-size: 15.5px;
    }
}

@media (min-width: 2201px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 85%;
    }

    html,
    body {
        font-size: 15.5px;
    }
}